@font-face {
  font-family: 'TT Lakes';
  src: local(' '), url('../fonts/TTLakes-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Lakes';
  src: local(' '), url('../fonts/TTLakes-Medium.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Lakes';
  src: local(' '), url('../fonts/TTLakes-Bold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'TT Lakes', sans-serif;
  font-weight: 400;
  min-width: 320px;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #f8f8f8;
}

.header {
  background-color: #ffffff;
}

.header-inner {
  box-sizing: border-box;
  display: inline-block;
  height: 80px;
  padding: 16px;
}

.header-title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
}

.swiper-wrapper {
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 0 16px;
  list-style-type: none;
}

.main-list-item.swiper-slide {
  display: flex;
  max-width: 240px;
  height: 72px;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #ffffff;
  align-items: center;
}

.main-list-link {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.main-list--slider-deactive {
  margin: 0;
  padding: 0 0 0 16px;
  list-style-type: none;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 208px;
  overflow: hidden;
  padding-right: 16px;
}

@media (max-width: 1120px) {
  .main-list--slider-deactive {
    margin: 0;
    padding: 0 0 0 16px;
    list-style-type: none;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 208px;
    overflow: hidden;
    padding-right: 16px;
  }

  .main-list-item.swiper-slide {
    max-width: 224px;
  }
}

.main-list--slider-deactive > .main-list-item:last-child {
  margin-right: 263px;
}

.swiper-pagination,
.pagination-slider {
  align-items: center;
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 16px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.swiper-pagination-bullet {
  background-color: #ddd;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  &-active {
    background-color: #b5b6bc;
  }
}
