@font-face {
  font-family: 'TT Lakes';
  src: local(' '), url('../fonts/TTLakes-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Lakes';
  src: local(' '), url('../fonts/TTLakes-Medium.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Lakes';
  src: local(' '), url('../fonts/TTLakes-Bold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'TT Lakes', sans-serif;
  font-weight: 400;
  min-width: 320px;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #f8f8f8;
}

.header {
  background-color: #ffffff;
}

.header-inner {
  box-sizing: border-box;
  display: inline-block;
  max-height: 80px;
  padding: 16px;
}

.header-title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
}


.swiper-wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 16px 0 0 16px;
    list-style-type: none;
}

.main-list-item.swiper-slide{
    display: flex;
    max-width:240px;
    height:72px;
    border-radius:10px;
    border:1px solid #EAEAEA;
    background-color: #FFFFFF;
    align-items: center;
}

.main-list-link {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}



.main-list--slider-deactive {
  margin: 0;
  padding: 24px 16px 46px 16px;
  list-style-type: none;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 204px;
  gap:16px;
  overflow: hidden;
}

.main-list-item.swiper-slide{
  position: relative;
  max-width: 240px;
}

.main-list-item.swiper-slide::after {
  content:'';
  position: absolute;
  box-sizing: border-box;
  display: inline-block;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  padding: 14px 15.5px 14px 17px;
  border: 2px solid #FF3E79;
  border-radius: 50%;
  background: url('../images/dropdown.png') no-repeat 50% 50%;
}




@media (min-width: 768px) {
  .main-list--slider-deactive {
    max-height: 200px;
  }

  .main-list-item.swiper-slide {
    max-width: 224px;
  }
  
  .main-list--slider-deactive > .main-list-item:last-child {
    margin-right: 255px;
  }

  .header-inner {
    max-height: 56px;
  }

}

@media (min-width:1120px) {
  
  .main-list--slider-deactive > .main-list-item:last-child {
    margin-right: 287px;
  }

  .header-inner {
    max-height: 56px;
  }

}

.main-list--show-content {
  transition: all 1s ease-out;
  max-height: 450px;
  overflow: auto;
}  

.swiper.main-wrapper {
  position: static;
}

.swiper.main-wrapper > .swiper-pagination {
  top: 180px;
}

.swiper-pagination > .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: #B5B6BC;
}

.button-wrapper {
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  align-items: center;
  padding: 12px 0 0 32px;
}

.button-wrapper__button {
  color: #1B1C21;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-decoration: none;
  cursor: pointer;
  padding-left: 7px;
}

.button-wrapper__arrow {
  width: 24px;
  height: 24px;
  background: url('../images/icon_show.png') no-repeat 50% 50%;
}

.button-wrapper__arrow--reverse{
  transform: rotate(180deg);
}