@media screen and (max-width: 768px) {
  .header {
    background-color: #ffffff;
  }

  .header-menu {
    display: flex;
    align-items: center;
  }

  .header-menu__burger-link,
  .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #ff3e79;
    border-radius: 50%;
  }

  .header-menu__burger-lines {
    width: 18px;
    height: 16px;
  }

  .header__logo-link::after {
    content: " ";
    position: absolute;
    top: 10px;
    left: 30px;
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    border-radius: 1px;
  }
}
